@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Slab', serif; 
}

/* Header Section */

.logo {
    font-size: 24px;
    color: #f9faf8;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        background-color: #1f2937;
        color: white;
    }
    

.hero {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.hero-text {
    width: 50%;
}


h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

p {
    font-size: 18px;
    color: #e5e7eb;
    width: 50%;
}

button {
    background-color: #3882f6;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}

    .hero-image {
        width: 30%;
        height: 230px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

/*Information Section*/

.information {
 text-align: center;
 padding: 50px;
}

.information-heading {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    margin-bottom: 20px;
}

.info-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.info-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 150px;
    margin: 10px;
}

.info-box {
    width: 150px;
    height: 150px;
    border: 2px solid #397ce9;
    background-color: white;
}

.box-text {
    margin-top: 10px;
    font-size: 14px;
    color: gray;
    text-align: center;
}


    
